.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
        to top right,
        rgba(165, 214, 175, 0.3),
        rgba(172, 197, 232, 0.9)
    );
}

.projects-container {
    max-width: 80vw;
}

.grid-width {
    margin: 10%;
}

.grid-col-span-2 {
    grid-column: span 2;
}
.grid {
    margin-top: 0.5rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);

    padding-block: 2rem;
    margin-inline: auto;
}

.cardP {
    font-size: 1.2rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    box-shadow: 2.5rem 3.75rem 3rem black;
}

.P1 img {
    width: 200px;
    object-fit: contain;
    border-radius: 10px;
}
.cardP h2 {
    margin-top: 0;
    text-align: center;
    color: rgb(92, 140, 191);
}

.cardP p {
    font-size: 15px;
    font-weight: 500;
}

.cardP li {
    font-size: 15px;
    font-weight: 500;
}

.title h2 {
    font-size: 2.5rem;
    color: rgb(92, 140, 191);
    margin-top: 0.25rem;
    margin-bottom: 0;
    text-align: center;
}
